---
layout: default
sitemap: false
pagination:
    enabled: true
---
{% include preview-banner.html %}
{% include blog-header.html %}
<div class="row">
{% include blog-filter.html %}
<div class="adesso-container adesso-blog-overview">

{% for post in paginator.posts %}
{% if post.layout == 'post' %}
<div class="adesso-blog-elem">

        {% if post.categories %}
        {% for category in post.categories  %}
        {% if category == "Softwareentwicklung" %}
                <span class="adesso-blog-category softwaredev">{{ category }}</span>
        {% endif %}
        {% if category == "Microsoft" %}
                <span class="adesso-blog-category microsoft">{{ category }}</span>
        {% endif %}
        {% if category == "Java" %}
                <span class="adesso-blog-category java">{{ category }}</span>
        {% endif %}
        {% if category == "Methodik" %}
                <span class="adesso-blog-category methodik">{{ category }}</span>
        {% endif %}
        {% if category == "Architektur" %}
                <span class="adesso-blog-category architecture">{{ category }}</span>
        {% endif %}
        {% if category == "Branchen & People" %}
                <span class="adesso-blog-category bap">{{ category }}</span>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="blog-elem-header">
            <div class="blog-elem-info">
                <p class="adesso-date">{{ post.date | date: "%d.%m.%Y" }}
                    <span class="adesso-location">von <span>
                        {% for author_id in post.author_ids %}
                            {% assign author = site.data.authors[author_id] %}
                            {% if author %}
                                {{author.first_name}} {{author.last_name}}
                                {% if forloop.rindex0 > 1 %}
                                ,
                                {% endif %}
                                {% if forloop.rindex0 == 1 %}
                                und
                                {% endif %}
                            {%  endif %}
                        {% endfor %}
                    </span></span>
                </p>
                <h2>
                    <a href="{{post.url | prepend:site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
            <div class="blog-author">
                <span>
                {% if post.author_ids.size > 1 %}
                    <img class="img-circle center-block adesso-3-8" src="{{ '/assets/images/logos/adesso-logo-grau_W200xH200_CUTOUT.jpg' | prepend: site.baseurl }}" alt=" ">
                {% endif %}
                {% if post.author_ids.size == 1 %}
                    {% assign id = post.author_ids[0] %}
                    {% assign author = site.data.authors[id] %}
                    <img class="img-circle center-block adesso-3-8" src="{{ author.avatar_url | prepend: site.baseurl }}" alt=" ">
                {% endif %}
                </span>
            </div>
        </div>

        <div class="blog-elem-content">
            <p>
                {{ post.excerpt }}
            </p>

            <a class="blog-button" href="{{post.url | prepend:site.baseurl }}">
                <svg class="adesso-arrow-icon">
                    <use xlink:href="#adesso--arrowlink" />
                </svg>
                <p>WEITERLESEN</p>
            </a>
        </div>

    </div>
{% endif %}
{% endfor %}
</div>

<div class="row">
<!-- Pagination links -->
{% include paginator.html %}
<!-- TODO -->

</div>
</div>
