---
layout: default
sitemap: false
pagination:
    enabled: true
---
{% include preview-banner.html %}
{% include blog-header.html %}
<div class="row">
{% include blog-filter.html %}
<div class="adesso-container adesso-blog-overview">

{% for post in paginator.posts %}
{% if post.layout == 'post' %}
{% assign author = site.data.authors[post.author] %}
<div class="adesso-blog-elem">

        {% if post.categories %}
        {% for category in post.categories  %}
        {% if category == "Softwareentwicklung" %}
                <span class="adesso-blog-category softwaredev">{{ category }}</span>
        {% endif %}
        {% if category == "Microsoft" %}
                <span class="adesso-blog-category microsoft">{{ category }}</span>
        {% endif %}
        {% if category == "Java" %}
                <span class="adesso-blog-category java">{{ category }}</span>
        {% endif %}
        {% if category == "Methodik" %}
                <span class="adesso-blog-category methodik">{{ category }}</span>
        {% endif %}
        {% if category == "Architektur" %}
                <span class="adesso-blog-category architecture">{{ category }}</span>
        {% endif %}
        {% if category == "Branchen & People" %}
                <span class="adesso-blog-category bap">{{ category }}</span>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="blog-elem-header">
            <div class="blog-elem-info">
                <p class="adesso-date">{{ post.date | date: "%d.%m.%Y" }}
                    <span class="adesso-location">von {{ author.first_name }} {{ author.last_name }}</span>
                </p>
                <h2>
                    <a href="{{post.url | prepend:site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
            <div class="blog-author">
                <img class="img-circle center-block adesso-3-8" src="{{ author.avatar_url | prepend: site.baseurl }}" alt=" ">
            </div>
        </div>

        <div class="blog-elem-content">
            <p>
                Über Auslöser und Auswirkungen der Digitalen Transformation haben Experten bereits unzählige Beiträge veröffentlicht. Im
                Tagesrhythmus erscheinen neue Studien, die wahlweise auf potenzielle Gefahren oder gefährdete Potenziale
                hinweisen. Analysten sind in einen Wettstreit eingetreten, wer die extremsten digitalen Szenarien
                für Wirtschaft und Gesellschaft entwirft.
            </p>

            <a class="blog-button" href="{{post.url | prepend:site.baseurl }}">
                <svg class="adesso-arrow-icon">
                    <use xlink:href="#adesso--arrowlink" />
                </svg>
                <p>WEITERLESEN</p>
            </a>
        </div>

    </div>
{% endif %}
{% endfor %}
</div>

<div class="row">
<!-- Pagination links -->
{% include paginator.html %}
<!-- TODO -->

</div>
</div>
