<div class="adesso-blog-category-filter">
    <ul class="adesso-blog-categories adesso-container">
        <li class="adesso-blog-category news">Neuste Beiträge</li>
        <li class="adesso-blog-category architecture">Architektur</li>
        <li class="adesso-blog-category bap">Branchen</li>
        <!--<li class="adesso-blog-category cloud">Cloud</li>-->
        <li class="adesso-blog-category de">Digital Experience</li>
        <li class="adesso-blog-category adesso-inside">Inside adesso</li>
        <li class="adesso-blog-category ki">KI</li>
        <li class="adesso-blog-category methods">Methodik</li>
        <li class="adesso-blog-category softwaredev">Softwareentwicklung</li>
    </ul>
</div>
