<div class="adesso-blog-category-filter">
    <ul class="adesso-blog-categories adesso-container">
        <li class="adesso-blog-category news">Neuste Beiträge</li>
        <li class="adesso-blog-category java">Java</li>
        <li class="adesso-blog-category microsoft">Microsoft</li>
        <li class="adesso-blog-category methods">Methodik</li>
        <li class="adesso-blog-category architecture">Architekturen</li>
        <li class="adesso-blog-category softwaredev">Softwareentwicklung</li>
        <li class="adesso-blog-category bap">Business & People</li>
    </ul>
</div>