{% assign author = site.data.authors[page.author] %}
{% assign adesso_url = "https://www.adesso.de" %}

{% capture de_date %}
{{ page.date | date: "%-d." }}  
{% assign m = page.date | date: "%-m" | minus: 1 %}
{{ site.data.lang-de.months[m]}}
{{page.date | date: "%Y"}}
{% endcapture %}

<article class="row">
<div class="card picture-card adesso-imageheader adesso-no-border col-md-12">
<figure>
<picture>
<!--[if IE 9]><video style="display: none;"><![endif]-->
<source srcset="{{ "/adesso/global/fotos/people/stef4486-dunkler_W1920xH768_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 1600px)">
<source srcset="{{ "/adesso/global/fotos/people/stef4486-dunkler_W1400xH560_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 1440px)">
<source srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W1440xH576_CUTOUT.jpg" | prepend: adesso_url }} " media="(min-width: 1200px)">
<source srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W1536xH614_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 1024px)">
<source srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W1152xH922_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 768px)">
<source srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W600xH480_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 600px)">
<source srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W480xH384_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 480px)">
<source srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W640xH512_CUTOUT.jpg" | prepend: adesso_url }}" media="(min-width: 0px)">
<!--[if IE 9]></video><![endif]-->
<img src="{{"/adesso/global/fotos/people/stef4486-dunkler_W640xH512_CUTOUT.jpg" | prepend: adesso_url }}" sizes="640vw" srcset="{{"/adesso/global/fotos/people/stef4486-dunkler_W640xH864_CUTOUT.jpg 640w" | prepend: adesso_url }}" alt="adesso">
</picture>
</figure>
<div class="card-img-overlay adesso-gradient">
<div class="adesso-intro">
<h1 class="card-title display-1">
<svg class="adesso-bar-icon">
<use xlink:href="#adesso--bar"></use>
</svg>
<span>
{% if  page.layout == 'post' and page.title %}
{{ page.title }}
{% else %}
{{ site.title }}
{% endif %}
</span>
</h1>
{% if page.layout == 'post' and page.subline %}
<p>
{{ page.subline }}
</p>
{%  else  %}
<p>
{{ site.subline }}
</p>
{% endif %}
</div>
</div>
<div class="adesso-secondary-orange semi adesso-image-header-bar adesso-semi-balkenelement">
<div class="adesso-container">
<div class="col-xl-8 adesso-center p-l-0 p-r-0 p-t-1">
{% if page.layout == 'post' %}
<p class="adesso-date">{{ de_date }} | von {{author.first_name}} {{author.last_name}}
</p>
{% endif %}
</div>
</div>
</div>
</div>
<div class="col-md-12 p-l-0 p-r-0 adesso-secondary-orange">
<div class="adesso-container">
<div class="adesso-balkenelement col-xl-8 adesso-center p-l-0 p-r-0 p-t-2 p-b-2">
<div class="i2-intro p-t-1">
{% if page.layout == 'post' %}
<p>{{ page.excerpt }}<p>
{% else %}
{{ site.blog_intro }}
{% endif %}
</div>
</div>
</div>
</div>
</article>