{% assign author = site.data.authors[page.author] %}
{% assign adesso_url = "https://www.adesso.de" %}

{% capture de_date %}
{{ page.date | date: "%-d." }}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{{ site.data.lang-de.months[m]}}
{{page.date | date: "%Y"}}
{% endcapture %}

<div class="row">
        <div class="adesso-blog-entry-content col-md-12 adesso-center p-b-3">
                <div class="blog-entry-information adesso-text-formate adesso-secondary-orange col-md-12 col-xl-8 adesso-center">
                        {% if page.categories %}
                        {% for category in page.categories  %}
                        {% if category == "Softwareentwicklung" %}
                                <span class="adesso-blog-category softwaredev">{{ category }}</span>
                        {% endif %}
                        {% if category == "Microsoft" %}
                                <span class="adesso-blog-category microsoft">{{ category }}</span>
                        {% endif %}
                        {% if category == "Java" %}
                                <span class="adesso-blog-category java">{{ category }}</span>
                        {% endif %}
                        {% if category == "Methodik" %}
                                <span class="adesso-blog-category methodik">{{ category }}</span>
                        {% endif %}
                        {% if category == "Architektur" %}
                                <span class="adesso-blog-category architecture">{{ category }}</span>
                        {% endif %}
                        {% if category == "Branchen & People" %}
                                <span class="adesso-blog-category bap">{{ category }}</span>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {% if  page.layout == 'post' and page.title %}

                        {% endif %}

                        <p><span>{{ de_date }}</span>von {{author.first_name}} {{author.last_name}}</p>
                        <h1>
                                {% if  page.layout == 'post' and page.title %}
                                {{ page.title }}
                                {% else %}
                                {{ site.title }}
                                {% endif %}
                        </h1>
                </div>

                <div class="adesso-text-formate adesso-secondary-orange">
                        <div class="row p-t-2 p-l-0 p-r-0">
                                <div class="blog-text col-md-12 col-xl-8 adesso-center">
                                        {% if page.layout == 'post' %}
                                        <p>{{ page.excerpt }}<p>
                                                        {% else %}
                                                        {{ site.blog_intro }}
                                                        {% endif %}
                                </div>
                        </div>

                </div>

                {% include author-information.html %}
        </div>