<footer class="adesso-footer" data-social-sharing-api="/de/technisches/social-sharing/index.jsp">
<div class="row">
<div class="adesso-container">
<div class="adesso-left-col col-sm-6 col-lg-3">
<a class="adesso-logo page-scroll" href="/de/index.jsp">
<span class="adesso-claim">adesso - business. people. technology. </span>
</a>
</div><!--/col-sm-6 col-lg-3-->
<div class="col-sm-6 col-lg-3">
<p>
adesso AG
<br>Stockholmer Allee 20
<br>44269 Dortmund
</p>
</div><!--/col-sm-6 col-lg-3-->
<div id="contact-data" class="col-sm-6 col-lg-3">
<p>
T <a href="tel:+4923170007000">+49 231 7000-7000</a>
<br>F +49 231 7000-1000
<br>E <a href="mailto:info@adesso.de">info@adesso.de</a>
</p>
</div><!--/col-sm-6 col-lg-3-->
<div class="col-sm-6 col-lg-3" id="adesso-group-links">
<ul>
<li>
<a href="http://adesso.ch" target="_blank" http://adesso.ch onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Externale Links', 'eventAction': 'Aufruf Link', 'eventLabel': ' http://adesso.ch '});ga('EN_AND_DE.send', {'hitType': 'event', 'eventCategory': 'Externale Links', 'eventAction': 'Aufruf Link', 'eventLabel': ' http://adesso.ch '});" >adesso.ch</a>
</li>
<li>
<a href="http://www.adesso.at" target="_blank" http://www.adesso.at onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Externale Links', 'eventAction': 'Aufruf Link', 'eventLabel': ' http://www.adesso.at '});ga('EN_AND_DE.send', {'hitType': 'event', 'eventCategory': 'Externale Links', 'eventAction': 'Aufruf Link', 'eventLabel': ' http://www.adesso.at '});" >adesso.at</a>
</li>
<li>
<a href="http://www.adesso-group.de" target="_blank" http://www.adesso-group.de onclick="ga('send', {'hitType': 'event', 'eventCategory': 'Externale Links', 'eventAction': 'Aufruf Link', 'eventLabel': ' http://www.adesso-group.de '});ga('EN_AND_DE.send', {'hitType': 'event', 'eventCategory': 'Externale Links', 'eventAction': 'Aufruf Link', 'eventLabel': ' http://www.adesso-group.de '});" >adesso-group.de</a>
</li>
</ul>
</div><!--/col-sm-6 col-lg-3-->
</div><!--/.adesso-container-->
</div><!--/row-->
<div class="row">
<div class="adesso-container">
<div class="adesso-left-col col-xs-12 col-lg-4">
<p>© Copyright adesso AG. Alle Rechte vorbehalten.</p>
</div><!--/col-md-4-->
<div class="col-lg-4 col-xs-12">
<div class="social">
<a class="adesso-social-share-link adesso-social-share-xing-footer" target="_blank" href="https://www.xing.com/companies/adessoag">
<svg class="adesso-social-media-elem"><use xlink:href="#adesso--xing-uni-color" /></svg>
</a>
<a class="adesso-social-share-link adesso-linkedin-footer adesso-social-footer" target="_blank" href="https://de.linkedin.com/company/adesso-ag">
<svg class="adesso-social-media-elem"><use xlink:href="#adesso--linkedin-uni-color" /></svg>
</a>
<a class="adesso-social-share-link adesso-facebook-footer adesso-social-footer" target="_blank" href="https://www.facebook.com/adessoAG">
<svg class="adesso-social-media-elem"><use xlink:href="#adesso--facebook-uni-color" /></svg>
</a>
<a class="adesso-social-share-link adesso-twitter-footer adesso-social-footer" target="_blank" href="https://twitter.com/adessoag?lang=de">
<svg class="adesso-social-media-elem"><use xlink:href="#adesso--twitter-uni-color" /></svg>
</a>
<a class="adesso-social-share-link adesso-youtube-footer adesso-social-footer" target="_blank" href="https://www.youtube.com/user/adessoAG">
<svg class="adesso-social-media-elem"><use xlink:href="#adesso--youtube-uni-color" /></svg>
</a>
<a class="adesso-social-share-link adesso-pinterest-footer adesso-social-footer" target="_blank" href="https://www.pinterest.de/adessoag/">
<svg class="adesso-social-media-elem"><use xlink:href="#adesso--pinterest-uni-color" /></svg>
</a>
</div><!--/social-->
</div><!--/col-md-4-->
<div class="col-lg-4 col-xs-12">
<ul class="adesso-metanavigation">
<li><a class=""href="../../kontakt/index.jsp" target="_self" onclick="trackOutboundLinkPdf('../../kontakt/index.jsp')"> Kontakt</a>
<script>
var trackOutboundLinkPdf = function(url) {
var string = url,
substring = ".pdf";
if (string.indexOf(substring) !== -1) {
ga('send', 'event', 'Downloads', 'PDF', url, {
'transport': 'beacon'
});
ga('EN_AND_DE.send', 'event', 'Downloads', 'PDF', url, {
'transport': 'beacon'
});
}
}
</script></li>
<li><a class=""href="../../datenschutz/index.jsp" target="_self" onclick="trackOutboundLinkPdf('../../datenschutz/index.jsp')"> Datenschutz</a>
<script>
var trackOutboundLinkPdf = function(url) {
var string = url,
substring = ".pdf";
if (string.indexOf(substring) !== -1) {
ga('send', 'event', 'Downloads', 'PDF', url, {
'transport': 'beacon'
});
ga('EN_AND_DE.send', 'event', 'Downloads', 'PDF', url, {
'transport': 'beacon'
});
}
}
</script></li>
<li><a class=""href="../../impressum/index.jsp" target="_self" onclick="trackOutboundLinkPdf('../../impressum/index.jsp')"> Impressum</a>
<script>
var trackOutboundLinkPdf = function(url) {
var string = url,
substring = ".pdf";
if (string.indexOf(substring) !== -1) {
ga('send', 'event', 'Downloads', 'PDF', url, {
'transport': 'beacon'
});
ga('EN_AND_DE.send', 'event', 'Downloads', 'PDF', url, {
'transport': 'beacon'
});
}
}
</script></li>
<li>
<a class="page-scroll adesso-jump2top" href="#page-top" id="adesso-jump2top">
<svg class="adesso-pfeil-icon adesso-up"><use xlink:href="#adesso--pfeil"/></svg>
</a>
</li>
</ul>
</div><!--/col-lg-4 col-xs-12-->
</div><!--/.adesso-container-->
</div><!--/row-->
</footer>

