<div class="header-container navbar-fixed-top adesso-nav">
    <div class="container">
        <div class="row">
            <nav id="adesso-topnav">
                <div class="navbar-header page-scroll">
                    <svg data-toggle="collapse" data-target="#defaultNavbar1"
                        class="adesso-magnify adesso-search-toggle">
                        <use xlink:href="#adesso--lupe" />
                    </svg>
                    <button type="button" class="navbar-toggle collapsed adesso-toggle-btn adesso-toggle-animation"
                        data-toggle="collapse" data-target="#defaultNavbar1" aria-expanded="false">
                        <span class="adesso-toggle"></span>
                    </button>
                    <div class="adesso-container">
                        <a class="adesso-logo page-scroll" href="{{site.url}}">
                            <span class="adesso-claim">adesso - business. people. technology. </span>
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="defaultNavbar1">
                    <ul id="language" class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="{{site.url}}">de</a>
                        </li>
                    </ul>
                    <ul id="adesso-main-navigation" class="nav navbar-nav navbar-right">
                        <li id="adesso-search-list-elem">
                            <form id="adesso-top-nav-search" class="form-inline navbar-form">
                                <div class="form-group">
                                    <svg class="adesso-magnify adesso-input-magnify">
                                        <use xlink:href="#adesso--lupe" />
                                    </svg>
                                    <input placeholder='Ihr Thema...'
                                        class='flexdatalist form-control adesso-header-search-field'
                                        data-search-in="word" data-url="/de/technisches/search/index.jsp"
                                        data-language="de" data-site="adesso.de" id='adesso-search' data-min-length='1'
                                        list='languages' name='s' type='text'>
                                    <datalist id="languages"></datalist>
                                </div>
                                <button type="submit" class="btn btn-primary adesso-round">
                                    <svg class="adesso-pfeil-icon adesso-next">
                                        <use xlink:href="#adesso--pfeil" />
                                    </svg>
                                </button>
                            </form>
                        </li>
                        <li class="adesso-toggle-list-elem" id="entdecken">
                            <a data-toggle="modal" data-target="#adesso-navigation-modal">
                                <svg id="adesso-topnav-entdecken-symbol-ref" class="adesso-nav-icon">
                                    <use xlink:href="#adesso-topnav-elem-entdecken" />
                                </svg>
                                adesso entdecken
                            </a>
                        </li>

                        <li class="adesso-toggle-list-elem" id="jobs">
                            <a data-toggle="modal" data-target="#adesso-second-navigation-modal">
                                <svg id="adesso-topnav-jobs-symbol-ref" class="adesso-nav-icon">
                                    <use xlink:href="#adesso-topnav-elem-jobs" />
                                </svg>
                                Jobs & Karriere
                            </a>
                        </li>


                        <li class="adesso-toggle-list-elem" id="besucht">
                            <a href="#">
                                <span class="badge" style="display: none;"></span>
                                <svg id="adesso-topnav-besucht-symbol-ref" class="adesso-nav-icon">
                                    <use xlink:href="#adesso-topnav-elem-besucht" />
                                </svg>
                                Gespeicherte Seiten
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container adesso-rectangle-wrap">
        <div class="col-md-8 adesso-rectangle"></div>
    </div>
    <div style="height: 0; width: 0; position: absolute; visibility: hidden; display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol id="adesso-topnav-elem-besucht" viewBox="0 0 128 128">
                <polygon fill="currentColor" points="25,17 25,118 63.857,90.648 103,118 103,17 " />
            </symbol>
            <symbol id="adesso-topnav-elem-entdecken" viewBox="0 0 128 128">
                <path fill="currentColor" d="M73.155,65.118c-0.619,5.05-5.222,8.636-10.285,8.02c-5.056-0.626-8.65-5.209-8.032-10.251
c0.62-5.051,5.222-8.637,10.285-8.02C70.17,55.492,73.773,60.076,73.155,65.118z M121,64c0,31.477-25.523,57-57,57S7,95.477,7,64
S32.523,7,64,7S121,32.523,121,64z M85.44,27.21L48.95,49.104c0,0-4.127,2.47-4.714,7.236L39.03,98.498c0,0-0.604,4.766,3.531,2.288
l36.482-21.887c0,0,4.134-2.477,4.713-7.243l5.215-42.149C88.972,29.507,89.551,24.741,85.44,27.21z" />
            </symbol>
            <symbol id="adesso-topnav-elem-jobs" viewBox="0 0 128 128">
                <path fill="currentColor" d="M105.636,55.072c3.943-3.703,6.555-8.935,6.555-14.796C112.19,29.079,103.253,20,92.151,20
c-11.11,0-20.086,9.079-20.086,20.276c0,5.895,2.552,11.159,6.537,14.861C73.6,57.651,67.752,61.77,63.997,68.025
c-3.785-6.314-9.708-10.447-14.761-12.953c3.944-3.703,6.433-8.935,6.433-14.796c0-11.197-9-20.276-20.104-20.276
c-11.109,0-20.116,9.079-20.116,20.276c0,5.895,2.288,11.159,6.272,14.861C13.611,59.213,3,67.497,3,82.291V106h32.676h24.471h7.705
h24.472H124V82.291C124,67.404,113.797,59.12,105.636,55.072z" />
            </symbol>
        </svg>
    </div>
</div>