<div class="row">
<div class="adesso-container">
<div class="col-xl-8 adesso-center p-b-3 p-t-3 p-l-0 p-r-0 ">
{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
{% assign first_page_path = site.paginate_path | replace: 'pages/page:num', '' | replace: '//', '/' | absolute_url %}
<ul class="adesso-pagination">
{% comment %} Link for previous page {% endcomment %}
{% if paginator.previous_page %}
<li class="page-item">
<a class="page-link" href="{{ base }}{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Zurück">
<span aria-hidden="true">
<svg class="adesso-pfeil-icon adesso-prev">
<use xlink:href="#adesso--pfeil"></use>
</svg>
</span>
<span class="sr-only">Zurück</span>
</a>
</li>
{% else %}
<li class="page-item disabled">
<a class="page-link" href="#" aria-label="Zurück">
<span aria-hidden="true">
<svg class="adesso-pfeil-icon adesso-prev">
<use xlink:href="#adesso--pfeil"></use>
</svg>
</span>
<span class="sr-only">Zurück</span>
</a>
</li>
{% endif %}

{% comment %} First page {% endcomment %}
    {% if paginator.page == 1 %}
      <li class="page-item active"><a href="#" class="page-link">1</a></li>
    {% else %}
      <li class="page-item"><a href="{{ base }}{{ site.baseurl | prepend: site.url }}/" class="page-link">1</a></li>
    {% endif %}

    {% assign page_start = 1 %}
    {% if paginator.page > 2 %}
      {% assign page_start = paginator.page | minus: 1 %}
      {% comment %} Ellipsis for truncated links {% endcomment %}
      <li class="page-item"><a href="#" class="page-link">&hellip;</a></li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
    {% if pages_to_end > 2 %}
      {% assign page_end = paginator.page | plus: 1 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
      {% if index == paginator.page %}
        <li class="page-item active"><a href="{{ base }}{{ site.paginate_path | prepend: site.baseurl | replace: ':num', index | replace: '//', '/'}}" class="page-link">{{ index }}</a></li>
      {% else %}
        {% comment %} Distance from current page and this link {% endcomment %}
        {% assign dist = paginator.page | minus: index %}
        {% if dist < 0 %}
          {% comment %} Distance must be a positive value {% endcomment %}
          {% assign dist = 0 | minus: dist %}
        {% endif %}
        <li class="page-item"><a class="page-link" href="{{ base }}{{ site.paginate_path | prepend: site.baseurl | replace: ':num', index }}">{{ index }}</a></li>
      {% endif %}
    {% endfor %}

    {% comment %} Ellipsis for truncated links {% endcomment %}
    {% if pages_to_end > 2 %}
      <li class="page-item"><a href="#" class="page-link">&hellip;</a></li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <li class="page-item active"><a href="#" class="page-link">{{ paginator.page }}</a></li>
    {% else %}
      <li class="page-item"><a href="{{ base }}{{ site.paginate_path | prepend: site.baseurl | replace: ':num', paginator.total_pages | replace: '//', '/' }}" class="page-link">{{ paginator.total_pages }}</a></li>
    {% endif %}

{% if paginator.next_page %}
<li class="page-item">
<a class="page-link" href="{{ base }}{{ paginator.next_page_path | prepend: site.baseurl}}" aria-label="Weiter">
{% else %}
<li class="page-item disabled">
<a class="page-link" href="#" aria-label="Weiter">
{% endif %}
<span aria-hidden="true">
<svg class="adesso-pfeil-icon adesso-next">
<use xlink:href="#adesso--pfeil"></use>
</svg>
</span>
<span class="sr-only">Weiter</span>
</a>
</li>
</ul>
</nav>
{% endif %}
</div><!--/col-md-8-->
</div><!--./adesso-container-->
</div>