{% if page.date > site.time %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#adesso-content").append("<div class='label label-warning' style='position:absolute; top:5em; width:5em; " +
            "font-size:2em; line-height:1.7em;  color:white; background-color:#0275d8; font-weight:700; " +
            "text-align:center; border-radius:.35em'>PREVIEW " +
            "<div style='font-size: 0.5em'>Achtung! Der Artikel enthielt zum Generierungszeitpunkt ein Datum in der Zukunft!</div></div>")
    });
</script>
{% else %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#adesso-content").append("<div class='label label-warning' style='position:absolute; top:5em; width:5em; " +
            "font-size:2em; line-height:1.7em;  color:white; background-color:#0275d8; font-weight:700; " +
            "text-align:center; border-radius:.35em'>PREVIEW</div>")
    });
</script>
{% endif %}