locationMap{
padding:0px;
}
.textSVG{
font-size:21pt;
}
.locationLink{
cursor:pointer;
font-weight:bold;
background-color: #fff;
}
.locationLink :hover {
text-decoration:underline;
fill:#00426d;
stroke-width: 20px;
}

.standortLayer{
display:none;
padding:50px 15px 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:1;
color:#000;
}



.adesso-close-standort {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #f4f4f4;
    border-radius: 50%;
    float: left;
    height: 2.5rem;
    width: 2.5rem;
    margin: 1px;
    margin-left: 3px;
    top: 0;
    position: relative;
    cursor: pointer;
    color: transparent;
    z-index: 2;
    margin: 0 15px;
}
.adesso-close-standort:before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.adesso-close-standort:before, .adesso-close-standort:after {
    background-color: #857971;
    content: " ";
    height: 1.25rem;
    left: 1.125rem;
    position: absolute;
    top: 0.5625rem;
    width: 0.1875rem;
}

.adesso-close-standort:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.adesso-close-standort:before, .adesso-close-standort:after {
    background-color: #857971;
    content: " ";
    height: 1.25rem;
    left: 1.125rem;
    position: absolute;
    top: 0.5625rem;
    width: 0.1875rem;
}
