#Run blogpost-checker in a Docker container to validate the new blogpost
name: validate-blogpost

on:
  pull_request_target:
    branches:
      - master

jobs:
  pull-and-run-blogpost-checker-image:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: read
      contents: read
      deployments: read
      id-token: read
      issues: write
      discussions: read
      packages: read
      pages: read
      pull-requests: write
      repository-projects: write
      security-events: read
      statuses: read

    steps:
      - name: Inject env
        uses: rlespinasse/github-slug-action@v3.x
  
      - uses: actions/checkout@v2

      - name: git log
        run: |
          MESSAGE=`cd /home/runner/work/devblog/devblog && git log --pretty=oneline`
          echo "$MESSAGE"
          HEAD_COMMIT=`echo "$MESSAGE" | sed -e 's/\(.*\)Merge\s\(.*\) into \(.*\)/\2/'`
          BASE_COMMIT=`echo "$MESSAGE" | sed -e 's/\(.*\)Merge\s\(.*\) into \(.*\)/\3/'`
          export HEAD_COMMIT="$HEAD_COMMIT"
          export BASE_COMMIT="$BASE_COMMIT"
          echo "::set-env name=HEAD_COMMIT::$HEAD_COMMIT"
          echo "::set-env name=BASE_COMMIT::$BASE_COMMIT"
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
              
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.event.pull_request.user.login }}/${{ env.GITHUB_REPOSITORY_NAME_PART }}
          ref: ${{ env.HEAD_COMMIT }}
          fetch-depth: 0
          
      - run: |
          echo github.event.number = ${{ github.event.number  }}
          echo github.event.pull_request.number = ${{ github.event.pull_request.number }}
          echo github.event.issue.number = ${{ github.event.issue.number }}

      - name: Create comment using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/comments \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --header 'accept: application/vnd.github.v3+json'
          --data '{
            "body": "This is a test to create an issue comment via API."
            }' \
          --fail

      - name: Run Docker image
        run: docker run --env BASE_COMMIT='${{ env.BASE_COMMIT }}' --env HEAD_COMMIT='${{ env.HEAD_COMMIT }}' --env LOCAL_REPO_PATH=repo --env PR_NUMBER='${{ github.event.number }}' --env TOKEN=${{ secrets.GITHUB_TOKEN }} -v /home/runner/work/devblog/devblog:/repo jekyll2cms/blogpost-checker:1.0.12

